<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Integration Tests">
            <directory>./tests/IntegrationTests/</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./tests/UnitTests/</directory>
        </testsuite>
    </testsuites>
</phpunit>